options.lua
discordia.log
gateway.json
*.o
deps/*.so
etc/logs/*.o
etc/logs/*.so
etc/logs/out.png
etc/logs/binout
etc/logs/3222669.json
etc/lsqlite3
etc/lsqlite3/lsqlite3_fsl09x/
etc/lsqlite3/lsqlite3_fsl09x.zip
puppy.db
**.so
**.o
